@page
@model HospiEnCasa.App.Frontend.Pages.Pacientes.DetailsModel
@{
}
<h1>Detalle del paciente</h1>
<table class="table table-striped">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.paciente.Nombre</td>
    </tr>
    <tr></tr>
        <th scope="col">Apellidos</th>
        <td>@Model.paciente.Apellidos</td>
    </tr>
    <tr>
    </tr>
        <th scope="col">Telefono</th>
        <td>@Model.paciente.NumeroTelefono</td>
    </tr>
    </tr>
        <th scope="col">Medico</th>
        @if (Model.paciente.Medico == null)
        {
            <th>
                <a class="btn btn-secondary" asp-page="./AddMedico" asp-route-id="@Model.paciente.Id">
                    Asignar medico
                </a>
            </th>
        }
        else
        {
            <td>@Model.paciente.Medico.Nombre</td>
        }
    </tr>
    <tr>
        <th scope="col">Signos vitales</th>
        <td>
            <ul>
                @foreach (var signo in Model.paciente.SignosVitales)
                {
                    <li>@signo.Signo - @signo.Valor</li>
                }
            </ul>
            <a class="btn btn-secondary" asp-page="./AddSignoVital" asp-route-id="@Model.paciente.Id">
                Asignar signo vital
            </a>
        </td>
    </tr>
</table>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>