@page
@using HospiEnCasa.App.Dominio
@model HospiEnCasa.App.Frontend.Pages.Pacientes.IndexModel
@{
}
<form method="get" class="form-inline">
    <label for="g" class="my-1 mr-2">Genero</label>
    <select name="g" id="g" asp-for="@Model.gActual" asp-items="Html.GetEnumSelectList<Genero>()" class="custom-select my-1 mr-sm-2">
        <option value="-1">Ver todos</option>    
    </select>
    <button type="submit" class="btn btn-primary my-1">Filtrar</button>
</form>

<a class="btn btn-primary" asp-page="./Create">Crear paciente</a>
<h1>Listado de pacientes</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model.pacientes)
        {
            <tr>
                <td>@paciente.Nombre</td>
                <td>@paciente.Apellidos</td>
                <td>@paciente.NumeroTelefono</td>
                <td>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@paciente.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@paciente.Id">Modificar</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>